{% extends 'poolstore/base.html' %}

{% block content %}
<h1>Welcome to Poolhub</h1>

{{ request.user.username|json_script:"username" }}



<script>

    console.log('gee')
    var username = JSON.parse(document.getElementById('username').textContent);
    
        var matchUpSocket = new WebSocket(
        'ws://' + 
        window.location.host + 
        '/ws/matchup/'
        + username 
        + '/'
    );


    matchUpSocket.onopen = function (e) {
    matchUpSocket.send(JSON.stringify({
        'username': username,
        'user_state': 'joined',
    }));
}
    </script>
{% endblock %}


