{% extends 'poolstore/base.html' %}
{% load static %}
{% load next_item_filter %}
{% block content %}


   
      <div class="row">
         <div class="col-lg-4">

            <div class="h4 text-center">
               Matchups
            </div>
            <div id="matchup-hold" hx-get="{% url 'all-matchups' %}" hx-trigger="messageReceived" hx-swap="innerHTML" class="list-group">
               
              {% include 'poolstore/partials/all-matchups.html' %}
               
            </div>
         </div>

         <div class="col-lg-7 col-12 my-3" >
            <div style="position: relative;" id="matchup-chat">
               {% include 'poolstore/partials/matchup_chat.html' %}
            </div>
            
         </div>
      </div>
   
      {{ request.user.username|json_script:"username" }}

      {{ matchup.id|json_script:"matchup_id" }}
  
      {{ opponent.user.username|json_script:"opponent_username" }}

      <script src="{% static 'js/matchup_v2.js' %}"></script>

   <script>
   
   readySendMessage();
   showActiveMessageHeader();


   document.addEventListener('DOMContentLoaded', function() {
        scrollBottom();
    })


   document.getElementById('matchup-chat').addEventListener('htmx:afterSwap', (e) => {
      scrollBottom();
      readySendMessage();
   });

   document.getElementById('matchup-hold').addEventListener('htmx:afterSettle', (e) => {
      showActiveMessageHeader();
      
      var statuses = document.querySelectorAll(`.show-status`);

      statuses.forEach(status => {
         const state = localStorage.getItem(status.id) || 'offline';

         if(state === 'online') {
            status.classList.remove('bg-danger');
            status.classList.add('bg-success')
         }
      });

      localStorage.clear();
     
   })


   document.getElementById('matchup-hold').addEventListener('htmx:beforeRequest', (e) => {
      var statuses = document.querySelectorAll(`.show-status`);

      statuses.forEach(function(status) {
         if(status.classList.contains('bg-success')){
            localStorage.setItem(status.id, 'online')
         }
     
});
     
   })


   </script>
   

{% endblock %}