{% extends 'poolstore/base.html' %}
{% load static %}

{% block content %}

   

   <div class="row">
      <div class="username-test-holder">
        
      </div>
   </div>
   


   
   <div class="row">
      
      <div class="col-lg-6 col-12" style="height: 300px; overflow-y: auto; position: relative;" id="message-hold">
         <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status" id="spinner">
               <span class="visually-hidden">Loading...</span>
            </div>
         </div>
         <div class="mt-5">
            {% include 'poolstore/partials/matchup-elements.html' %} 
         </div>

         <div id="new-message">

         </div>
      
      </div>
   </div>
   <div class="row">
      <div class="col-lg-6 col-12">
         <div>
            <input id='input' type="text" size="40">
            <input id='submit' type="button" value="Send">
   
         </div>

      </div>
   </div>



    
   {{ request.user.username|json_script:"username" }}

   {{ matchup.id|json_script:"matchup_id" }}
   <script src="{% static 'js/matchup_v2.js' %}"></script>

   <script>
   



   </script>
{% endblock %}