<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/ws.js"></script>

</head>
<body>

    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; height: 100%;">
        <div id="matchamaking-users" style="width: 300px;">

        
            
        <div style="display: flex; flex-direction: column;" id="matches-container">
            {% for match in matches %}
            <div style="display: flex; align-items: center; justify-content: space-between;" id="matches" data-user-username="{{ match.player.user.username }}">
                
                <div>
                    {{ match.player.user.username }}
                </div>

                <div>
                    <button class="invite-btn" data-invitee-user-username="{{ match.player.user.username }}">
                        INVITE
                    </button>
                </div>
            </div>
            {% endfor %}


            
        </div>
        {% if not request.user.player.inviting_to_play %}
            <div>
                <button id="control-btn">
                    ADD MYSELF
                </button>
            </div>
        {% else %}
            <div>
                <button id="control-btn">
                    REMOVE MYSELF
                </button>
            </div>
            {% endif %}
        </div>

        
        <div class="invite-notification-container" style="display: flex; flex-direction: column;">
            {% for invite in invites %}
            <div>
                <div>
                    {{ invite.player_inviting.user.username }} invited you.
                </div>

                <div>
                    <button>
                        ACCEPT
                    </button>
                </div>

                <div>
                    <button>
                        DENY
                    </button>
                </div>
            </div>
            {% endfor %}
            
        </div>

    

        
    </div>

    {{ request.user.username|json_script:"username" }}

    <script src="../../static/js/matchmake.js"></script>


</body>


</html>