{% extends 'poolstore/base.html' %}

{% block container_class %}
container-fluid
{% endblock %}


{% block content %}
{% load static %}

<div class="row justify-content-center my-5 ">
    <div class="col-lg-10 col-12">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div id="imageContainer" style="position: relative; width: 100%;">
        
        
                <div style="position: absolute; right: 0; top: 50%; z-index: 40;" class="direction-div-vertical me-1">
                    <button id="east" class="btn-success btn" style="padding: 5px; border-radius: 5px;">
                        <img src="{% get_media_prefix %}east.png" class="img-fluid">
                    </button>
                </div>
        
                <div style="position: absolute; left: 0; top: 50%; z-index: 40;" class="direction-div-vertical ms-1">
                    <button id="west" class="btn-success btn" style="padding: 5px; border-radius: 5px;">
                        <img src="{% get_media_prefix %}west.png" class="img-fluid">
                    </button>
                </div>
        
                <div style="position: absolute; top: 0; left: 50%; z-index: 40;" class="direction-div-horizontal  mt-1">
                    <button id="north" class="btn-success btn" style="padding: 5px; border-radius: 5px;">
                        <img src="{% get_media_prefix %}north.png" class="img-fluid">
                    </button>
                </div>
        
                <div style="position: absolute; left: 50%; z-index: 40; bottom: 0;" class="direction-div-horizontal mb-1">
                    <button id="south" class="btn-success btn" style="padding: 5px; border-radius: 5px;">
                        <img src="{% get_media_prefix %}south.png" class="img-fluid">
                    </button>
                </div>
    
                <div style="position: absolute; background-color: black; top: 0; left: 0; z-index: 0;" class="div-container">
                    <div style="height: 100%; position: relative;">
                    
                        <div class="" style="position: absolute; top: 20%; left: 8%; z-index: 40;">
                            <button class="btn bg-success">
                                RESERVE
                            </button>
                        </div>
        
                        <div class="w-md-auto" style="position: absolute; top: 10%; right: 20%; z-index: 40;">
                            <button>
                                hey
                            </button>
                        </div>
    
                        <div style="position: absolute; top: 10%; right:50%; z-index: 40;">
                            <button>
                                hey2
                            </button>
                        </div>


        
                    </div>

                    <img src="{% get_media_prefix %}mockup-of-poolhub-vera.jpg" id="largeImage" class="img-fluid">

                </div>
        
            </div>
        
        </div>
    </div>
  

</div>

    {{ poolhouse|json_script:'poolhouse_name' }}
    <script src="{% static 'js/mapmaker.js' %}"></script>
    <script src="../../static/js/poolhouse-websocket.js"></script>

{% endblock %}