{% extends 'poolstore/base.html' %}
{% block content %}
<body>
    <div class="row">
        <div class="col-md-7">
            <div style="display: flex; justify-content: start; align-items: start; flex-direction: column;">
                {% for poolhouse in poolhouses %}
                <div class='poolhouse'>
                    <div>
                        {{ poolhouse.title }}
                    </div>
        
        
                    <div>
                        {{ poolhouse.address }}
                    </div>
                </div>
                {% endfor %}
        
            </div>
        </div>

        <div class="col-md-5">
            TEST
        </div>
    </div>

{% endblock %}