[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = {extras = ["daphne"], version = "*"}
django-allauth = "*"
django-debug-toolbar = "*"
django-htmx = "*"
jinja2 = "*"
pillow = "*"
redis = "*"
celery = "*"
pytz = "*"
python-dotenv = "*"
psycopg2 = "*"
channels-redis = "*"
django-extensions = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
drf-yasg = "*"
django-channels-jwt = "*"
django-cors-headers = "*"
django-storages = "*"
boto3 = "*"
django-celery-beat = "*"
google-auth = "*"
pipenv = "*"
pytest = "*"
pytest-django = "*"

[dev-packages]

[requires]
python_version = "3.11"
