{% extends 'poolstore/base.html' %}


{% block content %}
    <div>
      <div class="row justify-content-center">
        <div class="col-md-4 col-10 d-flex flex-column align-items-center">
            <img src="{{ request.user.player.profile_image.url }}" alt="Profile Picture" class="img-fluid border" style="aspect-ratio: 1; object-fit: cover; border-radius: 50%;">
          
          <div id="edit-profile">
            
              {% include 'core/partials/profile-saved.html' %}
          </div>
            
        </div>
    
        <div class="col-md-7 d-flex flex-column align-items-center my-4">
            <div class="h3">
                    About Me:
            </div>
    
            <div class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni alias vero, asperiores deserunt quo exercitationem provident officiis unde cumque, architecto doloribus ipsum eius distinctio harum saepe. Deserunt adipisci ducimus dicta?
                Quis autem ratione, amet voluptatibus, nisi, optio itaque voluptatum deserunt consequatur id alias odit quibusdam consequuntur? Odit in necessitatibus illo vel sed, consectetur voluptatum, quos fuga velit, voluptate nemo officiis.
            </div>
    
         
        </div>
        
    
       
 

    <div class="row mt-5">
        <div class="col-md-6">
            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">History</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Statistics</button>
                </li>
               
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">...</div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
              </div>
        </div>
    </div>


    <script>


 
    </script>
{% endblock %}