{% extends 'poolstore/base.html' %}


{% block content %}

    <style>


    </style>
    <div class="row justify-content-start">
        <div class="d-flex border">
            <div class="col-md-3">
                <img src="../../../media/jungle.jpg" alt="Profile Picture" class="img-fluid" style="aspect-ratio: 1; object-fit: cover; border-radius: 50%;">
            </div>
    
            <div class="col-md-9 ms-4 d-flex flex-column">
                <div class="h3 border">
                     Username
                </div>

                <div class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni alias vero, asperiores deserunt quo exercitationem provident officiis unde cumque, architecto doloribus ipsum eius distinctio harum saepe. Deserunt adipisci ducimus dicta?
                    Quis autem ratione, amet voluptatibus, nisi, optio itaque voluptatum deserunt consequatur id alias odit quibusdam consequuntur? Odit in necessitatibus illo vel sed, consectetur voluptatum, quos fuga velit, voluptate nemo officiis.
                </div>
            </div>

        </div>
       
    </div>

    <div class="row">
        
    </div>



{% endblock %}