
{% for matchup in matchups %}
<div class="border d-flex align-items-center my-3 message-header list-group-item list-group-item-action list-group-item-primary position-relative" 
hx-trigger='click' 
hx-get="{% url 'matchup' matchup.id %}" 
hx-push-url="/matchup/{{ matchup.id }}/" 
hx-vals='{"load_type": "load-matchup"}' 
hx-swap="innerHTML" 
hx-target="#matchup-chat" id="{{ matchup.id }}">
{% if matchup.player_accepting.user == request.user %}

    <span class="position-absolute top-0 start-0 translate-middle p-2 bg-danger border border-light rounded-circle show-status" id="{{ matchup.player_inviting.user.username }}">
        <span class="visually-hidden">New alerts</span>
    </span>
    <div class="w-25 me-2">
        <img src="{{ matchup.player_inviting.profile_image.url}}" class="img-fluid" style="border-radius: 50%;">
    </div>

    <div class="w-75" >
        <div class="h6">
            {{ matchup.player_inviting.user.first_name}} {{ matchup.player_inviting.user.last_name}}
            
    
            
        </div>
    {% else %}

    <span class="position-absolute p-2 bg-danger border border-light rounded-circle show-status" id="{{ matchup.player_accepting.user.username }}" style="top: 10%; right: 5%;">
        <span class="visually-hidden">New alerts</span>
      </span>

    <div class="w-25 me-2">
        <img src="{{ matchup.player_accepting.profile_image.url}}" class="img-fluid" style="border-radius: 50%;">
    </div>

    <div class="w-75" >
        <div class="h6">
            {{ matchup.player_accepting.user.first_name}} {{ matchup.player_accepting.user.last_name}}
            
            
            
            </div>

    {% endif %}

        {% if matchup.messages.last.sender.user == request.user %}

        <div class="d-flex">

            <div class="mt-4">
                You: {{ matchup.messages.last.body }}
            </div>
        </div>
        {% else %}
        <div class="d-flex">

            <div class="mt-4">
                {{ matchup.messages.last.sender.user.username }}: {{ matchup.messages.last.body }}
            </div>
        </div>
        {% endif %}


        
    </div>
</div>
{% endfor %}

<script>

</script>
