
{% load next_item_filter %}
 {% for matchup_message in matchup_messages %}
 
 {% if forloop.first and page_obj.has_next %}
   
    {% if matchup_message.sender.user == request.user %}

<div class="d-flex justify-content-end text-start my-3"
    id="sender"
    hx-get="{% url 'matchup' matchup_id %}?page={{ page_obj.number|add:1 }}"
    hx-trigger="intersect once" 
    hx-swap="beforebegin" 
    hx-target="this">

    <div class="w-75 d-flex justify-content-end">
        <div>

            <div class="bg-primary rounded text-white px-3 py-2">
                {{ matchup_message.body }}
            </div>


            {% with real_index=forloop.counter0|calculate_index:page_obj.number %}

                {% with next_message=messages1|next:real_index %}
                {% if next_message and next_message.sender != matchup_message.sender %}
                    <div class="text-secondary text-end">
                    {{ matchup_message.sender.user.username }}
                    </div>
                {% endif %}
                {% endwith %}
                    
            {% endwith %}
            
      

            
        
        </div>
    {% else %}

<div class="d-flex justify-content-start text-start my-3"
    id="sender"
    hx-get="{% url 'matchup' matchup_id %}?page={{ page_obj.number|add:1 }}"
    hx-trigger="intersect once" 
    hx-swap="beforebegin" 
    hx-target="this">

    <div class="w-75  d-flex justify-content-start">
        <div>

            <div class="bg-light rounded text-secondary px-3 py-2">
                {{ matchup_message.body }}
            </div>

            {% with real_index=forloop.counter0|calculate_index:page_obj.number %}
                    
                {% endwith %}
            
            {% with next_message=matchup_messages|next:forloop.counter0 %}
            {% if next_message and next_message.sender != matchup_message.sender  %}
                <div class="text-secondary text-start">
                {{ matchup_message.sender.user.username }}
                </div>
            {% endif %}
            {% endwith %}

            
        
        </div>

    {% endif %}


 {% else %}
 
    {% if matchup_message.sender.user == request.user %}
    <div class="d-flex justify-content-end text-start my-3">
        <div class="w-75  d-flex justify-content-end">

            <div>

                <div class="bg-primary rounded text-white px-3 py-2">
                    {{ matchup_message.body }}
                </div>
                
                {% with real_index=forloop.counter0|calculate_index:page_obj.number %}
                    
                {% endwith %}

                
                {% with next_message=matchup_messages|next:forloop.counter0 %}
                {% if next_message and next_message.sender != matchup_message.sender %}
                    <div class="text-secondary text-end">
                    {{ matchup_message.sender.user.username }}
                    </div>
                {% endif %}
                {% endwith %}

                
            
            </div>
    {% else %}
    <div class="d-flex justify-content-start text-start my-3">
        <div class="w-75  d-flex justify-content-start">

            <div>

                <div class="bg-light rounded text-secondary px-3 py-2">
                    {{ matchup_message.body }}
                </div>


                {% with real_index=forloop.counter0|calculate_index:page_obj.number %}

                {% endwith %}
                {% with next_message=matchup_messages|next:forloop.counter0 %}
                {% if next_message and next_message.sender != matchup_message.sender %}
                    <div class="text-secondary text-start">
                    {{ matchup_message.sender.user.username }}
                    </div>
                {% endif %}
                {% endwith %}

                
            
            </div>

    
    {% endif %}

  {% endif %}
        
    </div>

    
 </div>


 

 {% endfor %}



 <script>

document.addEventListener('DOMContentLoaded', function() {
        let scrollHeightBefore = 0;
        let scrollTopBefore = 0;
        

    })
       function hideSpinner() {
        document.getElementById('spinner').classList.add('invisible');

    }

    function revealSpinner() {
        document.getElementById('spinner').classList.remove('invisible');
    }

    if (document.getElementById('sender') !== null) {
        
        document.getElementById('sender').addEventListener('htmx:beforeRequest', function (e) {
            revealSpinner();

            const container = document.getElementById('message-hold');
            scrollTopBefore = container.scrollTop;  
            scrollHeightBefore = container.scrollHeight;

            document.getElementById('sender').addEventListener('htmx:afterSettle', function(e) {
            hideSpinner();
            const container = document.getElementById('message-hold');
            const scrollHeightAfter = container.scrollHeight; 
            container.scrollTop = scrollTopBefore + (scrollHeightAfter - scrollHeightBefore);
    })
    });





    
   
    }


 </script>