{% load static %}
{% load next_item_filter %}
{% for matchup_message in matchup_messages %}
 
 {% if forloop.first and page_obj.has_next %}
   
    {% if matchup_message.sender.user == request.user %}

<div class="d-flex justify-content-end text-start my-3"
    id="sender"
    hx-get="{% url 'matchup' matchup_id %}?page={{ page_obj.number|add:1 }}"
    hx-trigger="intersect once" 
    hx-swap="beforebegin" 
    hx-target="this">

    <div class="w-75 d-flex justify-content-end">
        <div>

            <div class="bg-primary rounded text-white px-3 py-2">
                {{ matchup_message.body }}
            </div>

            <div class="text-secondary text-end sent-by" data-username-sender="{{ matchup_message.sender.user.username }}">

            
        
        
    {% else %}

<div class="d-flex justify-content-start text-start my-3"
    id="sender"
    hx-get="{% url 'matchup' matchup_id %}?page={{ page_obj.number|add:1 }}"
    hx-trigger="intersect once" 
    hx-swap="beforebegin" 
    hx-target="this">

    <div class="w-75  d-flex justify-content-start">
        <div>

            <div class="bg-light rounded text-secondary px-3 py-2">
                {{ matchup_message.body }}
            </div>

            <div class="text-secondary text-start sent-by" data-username-sender="{{ matchup_message.sender.user.username }}">

            
        
        

    {% endif %}


 {% else %}
 
    {% if matchup_message.sender.user == request.user %}
    <div class="d-flex justify-content-end text-start my-3">
        <div class="w-75  d-flex justify-content-end">

            <div>

                <div class="bg-primary rounded text-white px-3 py-2">
                    {{ matchup_message.body }}
                </div>
                
                <div class="text-secondary text-end sent-by" data-username-sender="{{ matchup_message.sender.user.username }}">
              

                
            
            
    {% else %}
    <div class="d-flex justify-content-start text-start my-3">
        <div class="w-75  d-flex justify-content-start">

            <div>

                <div class="bg-light rounded text-secondary px-3 py-2">
                    {{ matchup_message.body }}
                </div>
 
                <div class="text-secondary text-start sent-by" data-username-sender="{{ matchup_message.sender.user.username }}">

    
    {% endif %}

  {% endif %}

            {% if forloop.last %}
                {% with show_username=paginator|show_username:page_obj %}

                    {% if show_username %}
                            {{ matchup_message.sender.user.username }}
                    {% endif %}
                {% endwith %}
            

            {% else %}

            
                {% with next_message=matchup_messages|next:forloop.counter0 %}
                    {% if next_message and next_message.sender != matchup_message.sender %}
                       
                        {{ matchup_message.sender.user.username }}
                        
                    {% endif %}
                {% endwith %}
            {% endif %}

            
                </div>
            </div>
        
    </div>

    
 </div>


 

 {% endfor %}

 <script src="{% static 'js/matchup-utils.js' %}"></script>


