{% load static %} 
    <div class="border rounded">
       <div class="border-bottom">

          <div class="w-50 px-3 d-flex align-items-center my-1 ">
             <div class="w-25 me-2 ">
                <img src="{{ matchup.player_accepting.profile_image.url }}" class="img-fluid" style="border-radius: 50%;">
             </div>

             <div class="w-75  h6">
                {{ opponent.user.first_name }}  {{ opponent.user.last_name }}

             </div>
          </div>

       </div>
  
       <div style="height: 400px; overflow-y: scroll;" id="message-hold" class="px-3 rounded">
          <div class="d-flex justify-content-center mt-2">
             <div class="spinner-border text-secondary invisible" role="status" id="spinner">
                <span class="visually-hidden">Loading...</span>
             </div>
          </div>
    
          <div class="mt-4" id="saved-message-holder">
    
             {% include 'poolstore/partials/matchup-elements.html' %}
 
          </div>
 
          <div id="new-message" class="">
             
          </div>

       </div>

       <div style="bottom: 0; position: sticky;">
          <div class="input-group  px-0 mx-0">
             <textarea class="form-control bg-white" id="input" rows="2" style="flex:1; resize: none;" ></textarea>
 
             <button class="btn btn-primary" type="button" id="submit">Send</button>
 
             </div>
       </div>
    

    </div>

    {{ request.user.username|json_script:"username" }}

    {{ matchup.id|json_script:"matchup_id" }}
 

<script>
    document.getElementById('matchup-chat').addEventListener('htmx:afterSwap', (e) => {
      scrollBottom();
   });

   document.querySelector('#submit').onclick = function (e) {
    const messageInputDom = document.querySelector('#input');
    const message = messageInputDom.value;
    matchUpSocket.send(JSON.stringify({
        'message': message,
        'username': username
    }));
    messageInputDom.value = '';
}
</script>

