
 {% for matchup_message in matchup_messages %}
 
 {% if forloop.first %}
    {% if page_obj.has_next %}
    <div 
        id="sender"
        hx-get="{% url 'matchup' matchup_id %}?page={{ page_obj.number|add:1 }}"
        hx-trigger="intersect once" 
        hx-swap="beforebegin" 
        hx-target="this">


    {% endif %}
 {% else %}
 
 <div>
  {% endif %}
    {{ matchup_message.body }}
 </div>
 <hr>
 {% endfor %}

 <script>


document.addEventListener('DOMContentLoaded', function() {
    let scrollHeightBefore = 0;
    let scrollTopBefore = 0;
})
       function hideSpinner() {
        console.log('whasap');
        document.getElementById('spinner').classList.add('invisible');

    }

    function revealSpinner() {
        console.log('whasabefore')
        document.getElementById('spinner').classList.remove('invisible');
    }

 

    document.getElementById('sender').addEventListener('htmx:beforeRequest', function (e) {
        revealSpinner();

        const container = document.getElementById('message-hold');
        scrollTopBefore = container.scrollTop;  
        scrollHeightBefore = container.scrollHeight;
   });

   document.getElementById('sender').addEventListener('htmx:afterRequest', function (e) {

    hideSpinner();


   });

   document.getElementById('sender').addEventListener('htmx:afterSettle', function(e) {
    const container = document.getElementById('message-hold');
    const scrollHeightAfter = container.scrollHeight; 
    container.scrollTop = scrollTopBefore + (scrollHeightAfter - scrollHeightBefore);
   })

   
 </script>