<div class="d-flex flex-column align-items-center" style="max-height: 320px; overflow: auto;">
    <div class="h2 mb-2">
        Available Reservation Times
    </div>
    {% for reservation, next_reservation in reservations_with_next %}
    <div class="my-3 px-3 py-4 border border-3 border-success w-75 text-center" style='background-color: rgb(159, 205, 159); border-radius: 20px;'>
        <div class="h3 text-white">
    
            {{ reservation.real_end_time|default:reservation }} - {{ next_reservation.start_time|default:next_reservation }}
        </div>
    </div>
    {% endfor %}
</div>