
.direction-div-vertical {
    max-width: 70px;
    width: 7%; 
    transform: translate(0, -50%);
}

.direction-div-horizontal {
    max-width: 70px;
    width: 7%; 
    transform: translate(-50%, 0);
}