
.direction-div-vertical {
    min-width: 30px;
    max-width: 70px;
    width: 7%; 
    transform: translate(0, -50%);
}

.direction-div-horizontal {
    max-width: 70px;
    min-width: 30px;

    width: 7%; 
    transform: translate(-50%, 0);
}



@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }